/* Estilo global */
html, body {
    height: 100%; /* Garante que o gradiente cubra toda a altura da tela */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f0f0f0, #ffffff); /* Exemplo de gradiente suave */
    color: black; /* Cor do texto */
    min-height: 100vh;
}

.container-fluid {
    margin: 0 auto;
    margin: 20px auto; /* Centraliza o formulário na tela */
    background-color: white; /* Se você quiser um fundo branco */
    padding: 20px;   /* Adiciona um pouco de preenchimento dentro do formulário */
    border-radius: 8px; /* Bordas arredondadas, para um visual mais suave */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-toggle:hover {
    opacity: 0.7;
}

/* Ajuste do tamanho do gráfico de pizza */
#pieChart {

    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 450px !important;  /* Ou um valor fixo em pixels, ex: 600px */
    height: auto !important;
}
/* Estilo para os gráficos e tabela dentro da área */
.chart-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os gráficos se ajustem quando necessário */
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart-container>div {
    width: 48%;
    margin-bottom: 20px;
}


