/* Estilo global */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    color: black;
    min-height: 100vh;
}

.header-content-personalizado {
    display: flex;
    flex-direction: column;
    /* Organiza os itens em coluna */
    justify-content: center;
    /* Alinha o conteúdo verticalmente no centro */
    align-items: center;
    /* Alinha o conteúdo horizontalmente no centro */
    text-align: center;
    /* Garante que o texto dentro dos elementos será centralizado */
    padding: 40px 20px;
    background: linear-gradient(to right, #2b3c4f, #3e5c76);
    color: white;
    height: 100px;
}

.header-content-personalizado h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.header-content-personalizado p {
    font-size: 1.3rem;
}


form {
    width: 80%;
    margin: 20px auto;
    /* Centraliza o formulário na tela */
    background-color: white;
    /* Se você quiser um fundo branco */
    padding: 20px;
    /* Adiciona um pouco de preenchimento dentro do formulário */
    border-radius: 8px;
    /* Bordas arredondadas, para um visual mais suave */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra */
}

td {
    word-wrap: break-word;
    white-space: normal;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #495057;
}

/* Inputs e Dropdown */
input[type="file"],
.dropdown,
select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
}

input[type="file"]:focus,
.dropdown:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* Botões */
button {
    display: block;
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #2c3e50, #34495e);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
    /* Efeito de elevação */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombras suaves */
}

.bt {
    background-image: linear-gradient(to bottom, #3a556f, #4c6a82);
}

/* Estilo das opções de IA */
.ia-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.ia-option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

ul li a {
    cursor: pointer;
}

/* Escondendo o input de rádio e personalizando o label */
.ia-option input[type="radio"] {
    display: none;
    /* Esconde o botão de rádio padrão */
}

/* Estilizando o label como um botão clicável */
.ia-option label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 2px solid #ced4da;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    box-sizing: border-box;
}

.ia-option label:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ia-option input[type="radio"]:checked+label {
    border-color: #007bff;
    background-color: white;
}

/* Ajustando a imagem dentro do label */
.ia-option img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    /* Removido para adicionar 'gap' no lugar */
    border-radius: 8px;
}

/* Ajustando o texto do nome da LLM */
.ia-option p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

/* Comentários gerados */
.comentarios {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 98%;
    table-layout: fixed;
}

.space {
    display: flex;
    justify-content: center;
    /* Centraliza a div.divisao horizontalmente */
    max-width: 100%;
    margin-bottom: 20px;
}

/* Ajustando a classe .divisao */
.divisao {
    display: flex;
    justify-content: space-between;
    /* Distribui os botões com espaço entre eles */
    gap: 20px;
    /* Espaçamento entre os botões */
    width: 95%;
}

/* Ajustando a classe .botoes */
.botoes {
    flex: 1;
    /* Faz com que os botões ocupem o máximo de espaço disponível */
    margin: 0;
    /* Remove a margem para um alinhamento mais preciso */
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    /* Ajuste para que a largura dos botões seja proporcional */
}



.abrirEstatisticas {
    margin-bottom: 30px;
}

h2 {
    margin-left: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Alterado para ocultar o overflow */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    overflow: auto;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .ia-options {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .ia-options {
        grid-template-columns: 1fr;
    }

    button {
        font-size: 16px;
    }
}

/* Estilo para o select */
select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    max-width: 100%;
    box-sizing: border-box;
}

/* Quando o select está focado */
select:focus {
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
    outline: none;
}

.choice {
    margin-bottom: 25px;
}

/* Centralizar a tabela */
.comentarios {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Efeito de hover: quando o usuário passar o mouse sobre um item */
.list-group-item:hover {
    background-image: linear-gradient(to bottom, #2c3e50, #34495e);
    color: white;
    cursor:pointer;
}

/* Estilo para os ícones */
.list-group-item i {
    font-size: 22px;
    color: #2b3c4f;
    margin-right: 10px;
}

.list-group-item:hover i {
    color: white !important;
}

/* Ícones à esquerda dos itens */
.list-group-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}


/* Estilo para o botão */
.btn-custom {
    background-color: #3498db;
    /* Azul claro para contraste suave */
    color: #fff;
    /* Texto branco */
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-toggle:hover {
    opacity: 0.7;
}

.sidebar-toggle {
    color: #2b3c4f;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}

.offcanvas {
    background-color: #f8f9fa;
    width: 250px;
}

.offcanvas-header {
    background-color: #2b3c4f;
    color: #fff;
    text-align: center;
}

.offcanvas-body {
    padding-top: 20px;
}

.btn-close {
    filter: invert(1) !important; /* Inverte as cores, tornando o "X" branco */
}
