/* Estilo global */
html, body {
    height: 100%; /* Garante que o gradiente cubra toda a altura da tela */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f0f0f0, #ffffff); /* Exemplo de gradiente suave */
    color: black; /* Cor do texto */
    min-height: 100vh;
}

.ia-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas de tamanho igual */
    gap: 10px; /* Espaço entre os itens */
    width: 100%;
}

.ia-option {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ia-option label {
    display: flex;
    align-items: center; /* Alinha imagem e texto verticalmente */
    gap: 8px; /* Espaço entre a imagem e o texto */
    cursor: pointer; /* Indica que o rótulo é clicável */
}

.ia-option img {
    width: 40px; /* Ajuste o tamanho da imagem */
    height: auto;
}

.ia-option p {
    margin: 0; /* Remove margens padrão */
    font-size: 16px;
}
