<!-- Detectores disponíveis para análise de comentários gerados por humano ou IA -->

<label for="ai" class="choice">Escolha a ferramenta de detecção:</label>
<div class="ia-options">
    <div class="ia-option">
        <input type="radio" id="huggingface" name="ai" value="huggingface" required>
        <label for="huggingface">
            <img src="{{ url_for('static', filename='images/huggingface.png') }}" alt="huggingface">
            <p>AI Content Detector - PirateXX</p>
        </label>
    </div>
    <div class="ia-option">
        <input type="radio" id="binoculars" name="ai" value="binoculars" required>
        <label for="binoculars">
            <img src="{{ url_for('static', filename='images/binoculars.jpg') }}" alt="binoculars">
            <p>Binoculars</p>
        </label>
    </div>
    <div class="ia-option">
        <input type="radio" id="distbert" name="ai" value="distbert" required>
        <label for="distbert">
            <img src="{{ url_for('static', filename='images/bert.png') }}" alt="distbert">
            <p>DistBERT (+HC3)</p>
        </label>
    </div>
    <div class="ia-option">
        <input type="radio" id="roberta" name="ai" value="roberta" required>
        <label for="roberta">
            <img src="{{ url_for('static', filename='images/roberta.jpg') }}" alt="roberta">
            <p>Roberta Large Openai Detector</p>
        </label>
    </div>
    <div class="ia-option">
        <input type="radio" id="sapling" name="ai" value="sapling" required>
        <label for="sapling">
            <img src="{{ url_for('static', filename='images/sapling.jpg') }}" alt="sapling">
            <p>Sapling</p>
        </label>
    </div>
    <div class="ia-option">
        <input type="radio" id="radar" name="ai" value="radar" required>
        <label for="radar">
            <img src="{{ url_for('static', filename='images/radar.jpg') }}" alt="radar">
            <p>RADAR: Robust AI-text Detection</p>
        </label>
    </div>
</div>