<!-- Sidebar Toggle -->
<span class="sidebar-toggle" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="fa-solid fa-bars"></i>
</span>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Escolha uma funcionalidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Lista de Itens no Sidebar com ícones -->
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/" class="d-flex align-items-center">
                    <i class="fas fa-house"></i> Início
                </a>
            </li>
            <li class="list-group-item">
                <a href="/gerarComentarios" class="d-flex align-items-center">
                    <i class="fas fa-gear"></i> Gerar Comentários a partir de Posts
                </a>
            </li>
            <li class="list-group-item">
                <a href="/gerarComentario" class="d-flex align-items-center">
                    <i class="fas fa-brain"></i> Gerar Comentário Personalizado
                </a>
            </li>
            <li class="list-group-item">
                <a href="/analisarAutenticidadeGeral" class="d-flex align-items-center">
                    <i class="fas fa-robot"></i> Analisar Comentários feitos por IA
                </a>
            </li>
            <li class="list-group-item">
                <a href="/analisarAutenticidade" class="d-flex align-items-center">
                    <i class="fas fa-magnifying-glass"></i> Analisar Comentário (Real ou IA)
                </a>
            </li>
            <li class="list-group-item">
                <a href="/estatisticas" class="d-flex align-items-center">
                    <i class="fas fa-chart-line"></i> Visualizar Estatísticas Gerais
                </a>
            </li>
            <li class="list-group-item">
                <a href="/gerarEstatisticasPersonalizadas" class="d-flex align-items-center">
                    <i class="fas fa-square-poll-vertical"></i> Gerar Estatisticas Personalizadas
                </a>
            </li>
        </ul>
    </div>
</div>