<!-- Escolha do Tema para geração de comentários -->
<label for="themes">Escolha um tema:</label>
<select id="themes" name="themes" class="dropdown" onchange="handleThemeSelection(this)">
    <option value="" selected disabled>Clique para listar os temas disponíveis</option>
    <option value="Streaming.json">Aluguel de Filmes em Plataformas de Streaming</option>
    <option value="InteligenciaArtificial.json">Inteligência Artificial na criação de conteúdo</option>
    <option value="Dolar.json">Alta do dólar</option>
    <option value="CasasDeApostas.json">Polêmicas de casas de apostas e cassino online</option>
    <option value="Impostos.json">Impostos/Taxas na importação de produtos</option>
</select>